<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<style>
  fieldset, tr, td {
    border: 1px solid #bcbcbc;
    text-align: left;
  }
  fieldset {
    width: 500px;
    height: 200px;
  }
</style>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/main.js}"></script>
</head>
<body>
<form th:object="${siginin}" th:action="@{/member/siginin}" method="post">
  <table>
    <legend>로그인</legend>
    <div>
    <tr>
      <td>
        <label>아이디</label>
        <input type="text" class="form-member" style="width: 300px;" th:field="*{userName}">
      </td>
    </tr>
    <tr>
      <td>
        <label>패스워드</label>
        <input type="password" class="form-pw" style="width: 300px;" th:field="*{password}">
      </td>
    </tr>
    </div>

  </table>
  <button type="submit" id="buttonLogin" >로그인</button>
  <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/category}'|">취소</button>
</form>
<br/>
<br/>
<button type="button" class="btn btn-primary" th:onclick="|location.href='@{/member/siginup}'|">회원가입</button>




</body>


</html>