<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">

</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>게시물 목록</h2>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" th:onclick="|location.href='@{/board/new}'|" type="button">글쓰기</button>
    </div>
  </div>
  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>날짜</th>
        <th>조회</th>
        <th>좋아요</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.num}"></td>
        <td th:text="${board.title}" style="cursor:pointer" th:value="${board.id}" th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"></td>
        <td></td>
        <td th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${board.viewCount}"></td>
        <td th:text="${board.likeCount}"></td>

      </tr>
      </tbody>
    </table>
    <div>
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <tr class="page-item active">
          <td class="page-link"  href="#">1</td>
        </tr>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>


  </div>
</div> <!-- /container -->
</body>
</html>