<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/main.js}"></script>
</head>
<body>
<form th:object=""  th:action method="GET">
<div id="category" th:fragment="category">

      <button type="button" th:onclick="|location.href='@{/board/category}'|">전체게시판</button>
      <button type="button" th:onclick="|location.href='@{/board/category/6776}'|"  value="6776">테스트게시판</button>
      <button type="button" th:onclick="|location.href='@{/board/category/1}'|" value="1">자유게시판</button>
      <button type="button" th:onclick="|location.href='@{/board/category/2}'|" value="2">공지게시판</button>
      <button type="button" th:onclick="|location.href='@{/board/category/3}'|" value="3">비밀게시판</button>
      <button type="button" th:onclick="|location.href='@{/board/category/4}'|" value="4">질문게시판</button>
</div>
</form>
</body>
</html>