<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">




<div id="boardHeader" name="boardHeader" th:fragment="boardHeader">
    <button type="button" th:onclick="|location.href='@{/board/category}'|" th:text="전체보기"></button>
    <button type="button" th:each="category : ${categoryList}"
            th:onclick="|location.href='@{/board/category/}${category.categoryNumber}'|"
            th:text="${category.categoryName}"></button>
    <br/>
    <br/>



</div>
</html>