<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>
    fieldset {
        width: 500px;
        height: 400px;
    }

    .field-error{
        border-color: #dc3545;
        color: #dc3545;
    }

</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>
    <script type="text/javascript" th:src="@{/script/fileUpload.js}"></script>
</head>
<br/>
<body>
    <form id="frm" th:object="${board}" th:action method="post" enctype="multipart/form-data">
        <div class="field-error" th:errors="*{title}">제목 오류 메시지</div>
        <div class="field-error" th:errors="*{contents}">내용 오류 메시지</div>
        <fieldset class="field">
            <legend>글쓰기</legend>
            <td>카테고리</td>
            <span>
                <select class="selectbox">
                    <option th:each="category : ${categoryList}"
                            th:value="${category.categoryNumber}"
                            th:data-adminid="${category.id}"
                            th:text="${category.categoryName}"
                            th:selected="${categoryNumber} eq ${category.categoryNumber}">
                    </option>
                </select>
            </span>
            <div>
                <tr>
                    <th>제목</th>
                    <td>
                        <input type="text" class="inputForm" style="width: 400px;" th:field="*{title}">
                    </td>
                </tr>
                <br/>
                <tr>
                    <th>내용</th>
                    <td>
                        <textarea th:field="*{contents}" ></textarea>
                    </td>
                </tr>

                <br/>
                <tr>
                    <td>
                        <div class="fileCount" id="Files0"
                             th:remove="${boardAdmin.attachedFileYn eq 'N' or boardAdmin.attachedFileCount eq 0 }? all : none">
                                    <input type='file' class="file" name='fileList' />
                                    <button type="button" id="button-add-file"
                                                th:onclick="|addFileForm('${boardAdmin.attachedFileCount}')|">파일추가</button>

                        </div>
                            <div id="file-list">

                            </div>
                    </td>
                </tr>
            </div>
        </fieldset>
            <button type="button" class="selectbox-control" th:data-id="${categoryNumber}" id="buttonCreate" onclick="createFn()">저장</button>
            <button type="button" class="btn btn-primary"
                    th:onclick="|location.href='@{/board/category/{categoryNumber}(categoryNumber = ${categoryNumber})}'|">
                목록</button>
    </form>
</body>
</html>