<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  table, th, td {
    border: 1px solid #bcbcbc;
    text-align: center;
  }
  table {
    width: 1000px;
    height: 200px;
  }
</style>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/main.js}"></script>
</head>
<body>
<button type="button" th:onclick="|location.href='@{/board/category}'|">전체보기</button>
<button type="button" th:each="category : ${boardAdminList}"
        th:onclick="|location.href='@{/board/category/}${category.categoryNumber}'|"
        th:text="${category.categoryName}"></button>

<div class="container" style="max-width: 600px">
  <h1>관리자 페이지</h1>
  <div>
    <button type="button" class="writeButton" th:onclick="|location.href='@{/admin/setting}'|" >관리자설정</button>

  </div>

  <div>
    <h2 th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></h2>
    <fieldset>
      <table class="table">
        <thead>
        <tr>
          <th>번호</th>
          <th>카테고리</th>
          <th></th>
          <th>작성일</th>
        </tr>
        </thead>
        <th:block layout:fragment="content">
          <tbody>
          <tr th:if="${not #lists.isEmpty(boardAdminList)}" th:each="boardAdmin : ${boardAdminList}">
            <td th:text="${boardAdmin.num}"></td>
            <td th:text="${boardAdmin.categoryName}"
                style="cursor:pointer"
                th:onclick="|location.href='@{/board/category/{categoryNumber}(categoryNumber = ${boardAdmin.categoryNumber})}'|">
            </td>
            <td th:onclick="|location.href='@{/admin/view/{id}(id = ${boardAdmin.id})}'|"
                style="cursor:pointer">
              설정하기
            </td>
            <td th:if="${#temporals.format(boardAdmin.createTime, 'yyyy-MM-dd').equals(#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                th:text="${#temporals.format(boardAdmin.createTime, 'HH:mm')}" style="color: red">
            </td>
            <td th:if="${#temporals.format(boardAdmin.createTime, 'yyyy-MM-dd') < (#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                th:text="${#temporals.format(boardAdmin.createTime, 'yyyy-MM-dd')}">
            </td>

          </tr>
          <tr th:if="${#lists.isEmpty(boardAdminList)}">
            <td colspan="6">조회된 결과가 없습니다.</td>
          </tr>
          </tbody>
        </th:block>
      </table>
    </fieldset>

  </div>
</div>
</body>
</html>