<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  table, th, td {
    border: 1px solid #bcbcbc;
    text-align: center;
  }
  table {
    width: 1000px;
    height: 200px;
  }
</style>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/main.js}"></script>
  <div th:fragment="category" th:replace="html/header/boardCategory :: category"></div>
</head>
<br/>
<body>
<div class="container" style="max-width: 600px">
  <h2>관리자 페이지</h2>
  <div>
    <button type="button" class="admin" th:onclick="|location.href='@{/board/list}'|">게시물 목록</button>
    <button type="button" class="writeButton" th:onclick="|location.href='@{/board/new}'|" >글쓰기</button>

  </div>

  <div>
    <h2 th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></h2>
    <fieldset>
      <table class="table">
        <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>작성일</th>
          <th>댓글수</th>
          <th>첨부파일수</th>
        </tr>
        </thead>
        <th:block layout:fragment="content">
          <tbody>
          <tr th:if="${not #lists.isEmpty(boardList)}" th:each="board : ${boardList}">
            <td th:text="${board.num}"></td>
            <td th:text="${board.title}" style="cursor:pointer"
                th:onclick="|location.href='@{/admin/{id}(id = ${board.id})}'|"></td>
            <td th:if="${#temporals.format(board.createTime, 'yyyy-MM-dd').equals(#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                th:text="${#temporals.format(board.createTime, 'HH:mm')}" style="color: red">
            </td>
            <td th:if="${#temporals.format(board.createTime, 'yyyy-MM-dd') < (#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd')}">
            </td>
            <td th:text="${board.commentsCount}" style="cursor:pointer" th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"></td>
            <td th:text="${board.fileCount}" style="cursor:pointer" th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"></td>
          </tr>
          <tr th:if="${#lists.isEmpty(boardList)}">
            <td colspan="5">조회된 결과가 없습니다.</td>
          </tr>
          </tbody>
        </th:block>
      </table>
    </fieldset>

    <th:block layout:fragment="paging">
      <nav th:replace="html/commonPaging :: pagination"></nav>
    </th:block>
  </div>
  <th:block layout:fragment="script">
    <script th:inline="javascript">
      function movePage(uri, queryString) {
        location.href = uri + queryString;
      }
    </script>
  </th:block>
</div>
</body>
</html>