<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>
    fieldset, tr, td {
        border: 1px solid #bcbcbc;
        text-align: left;
    }
    fieldset {
        width: 500px;
        height: 200px;
    }

    .field-error{
        border-color: #dc3545;
        color: #dc3545;
    }
</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>
</head>
<body>
<form th:object="${board}" th:action="@{/board/new}" method="post">
    <div class="field-error" th:errors="*{title}">제목 오류 메시지</div>
    <div class="field-error" th:errors="*{contents}">내용 오류 메시지</div>
    <fieldset>
            <legend>글쓰기</legend>
            <div>
            <tr>
                <td>
                    <label class="title" >제목</label>
                    <input type="text" class="inputForm" style="width: 300px;" th:field="*{title}">
                </td>
            </tr>
            <br/>
            <tr>
                <td>
                    <label> 내용</label>
                    <input type="text" class="inputForm" rows="3" style="width: 300px; height: 150px;" th:field="*{contents}" >
                </td>
            </tr>
            </div>

    </fieldset>
    <button type="submit" id="buttonCreate" th:onclick="createFn(this)" >저장</button>
    <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/list}'|">목록</button>
    </form>



</body>


</html>