<html xmlns:th="http://www.thymeleaf.org">

<div id="commentsTable" th:fragment="commentsList">
  <form name="commentsList" th:action method="get" >
    <table id="loopsTable" style="width: 500px">
          <tr class="loopList" th:each="comments, index : ${commentsList}">
              <td>
                  <a th:text="${index.index}+1">#</a>
              </td>
              <td class="contents">
                  <span th:class="commentContents + ${comments.id}"
                     th:style="${comments.commentDepth ne 0}
                     ? 'width: 300px; color: red; font-style: italic; padding-left:'+ ${comments.commentDepth * 20}+'px'
                     : 'width: 300px'"
                     th:data-group="${comments.commentGroup}"
                     th:data-depth="${comments.commentDepth}"
                     th:data-sort="${comments.sort}">
                  <span th:if="${comments.commentDepth ne 0}" th:text="ㄴRe"></span>

                  </span>
                  <span th:class="commentsContents" th:text = "${comments.contents}" th:id="spanComment_+${comments.id}"></span>
                  <input type="text" th:id="boardComment_+${comments.id}" style="display: none">

                  <div th:class="modifyButton + ${comments.id}" style="display:none">
                      <button th:class = "modify+ ${comments.id}"
                                 value="수정완료"
                                 onclick="updateComment(this)">수정완료
                      </button>
                      <button th:class = "cancel + ${comments.id}"
                              value="취소"
                              th:onclick="|cancelUpdateComment('${comments.id}')|">취소
                      </button>
                  </div>
                  <br/>


                  <a th:if="${#temporals.format(comments.updateTime, 'yyyy-MM-dd-HH:mm') == null}"
                     th:text="*{#temporals.format(comments.createTime, 'yyyy-MM-dd-HH:mm')}" th:value="생성시간">
                  </a>
                  <a th:if="${#temporals.format(comments.updateTime, 'yyyy-MM-dd-HH:mm') != null}"
                     style="color: forestgreen; font-weight:bold" th:text="수정시간 ">
                  </a>
                  <a th:if="${#temporals.format(comments.updateTime, 'yyyy-MM-dd-HH:mm') != null}"
                     th:text="*{#temporals.format(comments.updateTime, 'yyyy-MM-dd-HH:mm')}" th:value="수정시간">
                  </a>

                  <input type="hidden" class="commentId" th:value="${comments.id}" ><br/>
                  <div class="optionButton">
                      <button type="button" th:id="commentReply + ${comments.id}" th:data-group="${comments.commentGroup}"
                              th:data-depth="${comments.commentDepth}"
                              th:data-sort="${comments.sort}"
                              th:value="${comments.id}"
                              onclick="getCommentReply(this)">답변작성
                      </button>
                      <button type="button" class="modifyButton" th:onclick="|getUpdateComment('${comments.id}')|">수정</button>
                      <button type="button" onclick="deleteComment(this)">삭제</button>
                  </div>
              </td>

          </tr>
    </table>
  </form>
</div>
</html>