<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/main.css}" rel="stylesheet" />
<style>
  fieldset, tr, td {
    border: 1px solid #bcbcbc;
    text-align: left;
  }
  fieldset {
    width: 500px;
    height: 250px;
  }
</style>
<head>
  <meta charset="utf-8">
</head>
<body>
<form  th:object="${boardDto}" th:action="@{/board/update}" method="post">
  <fieldset>
    <legend>수정</legend>
    </br>
    <tr>
      <td>
        <input type="hidden" class="form-control" id="exampleIdInput" th:field="*{id}">
        <div for="exampleFormControlInput1" class="form-label">제목</div>
        <input type="text" class="form-control" style="width: 300px;" th:field="*{title}">
      </td>
    </tr>
    <br/>
    <tr>
      <td>
        <label>내용</label>
        <input class="form-control" style="width: 300px; height: 150px;" rows="3"  th:field="*{contents}" >
      </td>
    </tr>
    </div>

  </fieldset>
  <button type="submit" th:value="${id}" class="btn btn-primary" th:onclick="|location.href='@{/board/view/{id}(id = ${id})}'|" >저장</button>
  <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board/list}'|">목록</button>
</form>



</body>


</html>