<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<style>
    fieldset {
        width: 500px;
        height: 400px;
    }

    .field-error{
        border-color: #dc3545;
        color: #dc3545;
    }

</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>
    <script type="text/javascript" th:src="@{/script/fileUpload.js}"></script>
    <script type="text/javascript" th:src="@{/script/reply.js}"></script>

    <br/>
</head>
<body>
<form id="frm" th:object="${board}" th:action method="post" enctype="multipart/form-data">
    <fieldset class="field">
        <legend>답글 쓰기</legend>
        <div>
            <tr>
                <th>카테고리: </th>
                <span id="categoryName" th:value="${board.categoryNumber}" th:text="${board.categoryName}"></span>
            </tr>
            <br/>
            <tr>
                <th>제목</th>
                <td>
                    <input type="text" class="inputForm" style="width: 400px;" th:value="${board.boardDepth}" th:field="*{title}">
                </td>
            </tr>
            <br/>
            <tr>
                <th>내용</th>
                <td>
                    <input type="text" class="inputForm" rows="3" style="width: 400px; height: 150px;" th:field="*{contents}" >
                </td>
            </tr>
            <br/>
            <tr>
                <td>
                    <div th:remove="${board.boardFileYn eq 'N' or board.boardFileCount eq 0}? all:none">
                        <div class="fileCount" id="Files0">
                            <input type='file' class="file" name='fileList' />
                            <button type="button" id="button-add-file" onclick="addFileReplyForm()">파일추가</button>
                        </div>
                        <div id="file-list"></div>
                    </div>
                </td>
            </tr>


        </div>
    </fieldset>
    <button type="button" id="buttonCreate"
            class="selectbox-control"
            th:data-id="${board.categoryNumber}"
            th:data-group="${board.getBoardGroup()}"
            th:data-sort="${board.getBoardSort()}"
            th:data-depth="${board.getBoardDepth()}"
            th:value="${board.boardAdminId}"
            onclick="createFnReply()">저장</button>
    <button type="button" class="btn btn-primary"
            th:onclick="|location.href='@{/board/category/}${board.categoryNumber}'|">목록</button>
</form>
</body>
</html>