<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  fieldset, tr, td {
    border: 1px solid #bcbcbc;
    text-align: left;
  }
  fieldset {
    width: 500px;
    height: 250px;
  }

  .field-error{
    border-color: #dc3545;
    color: #dc3545;
  }
</style>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/script/main.js}"></script>
</head>
<body>
  <form class="boardEdit" th:object="${boardUpdateVo}" th:action="@{/board/update}" method="post">
    <fieldset>
      <legend>수정</legend>
        <div>
          <tr>
            <td>
              <label>작성일:</label>
            </td>
            <td>
              <label th:text="${#temporals.format(boardUpdateVo.createTime, 'yyyy-MM-dd-HH:mm')}"></label>
            </td>
          </tr>
          <br/>
          <br/>
          <tr>
            <td>
              <label class="title" >제목</label>
              <input type="text" class="title" style="width: 300px;" th:field="*{title}">
            </td>
          </tr>
          <br/>
          <tr>
            <td>
              <label >내용</label>
              <input type="text" class="contents" style="width: 300px; height: 150px;" rows="3" th:field="*{contents}" >
            </td>
              <input type="hidden" th:field="*{id}">
          </tr>
      </div>
    </fieldset>
      <button type="submit" id="updateButton" th:onclick="updateFn()" >저장</button>
      <button type="button" th:onclick="|location.href='@{/board/list}'|">목록</button>
  </form>
</body>
</html>