<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    table, th, td {
        border: 1px solid #bcbcbc;
        text-align: left;
    }
    table {
        width: 1000px;
        height: 200px;
    }
</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/script/main.js}"></script>

    <div th:fragment="boardHeader" th:replace="html/header/boardHeader :: boardHeader"></div>

</head>
<body>
    <div class="container" style="max-width: 600px">
      <h1 th:each="category : ${categoryList}"
          th:if="${category.categoryNumber} eq ${categoryNumber}"
          th:text="${category.categoryName}">
      </h1>
      <h1 th:if="${categoryNumber} eq  null" th:text="전체보기"></h1>
        <div>
          <button type="button" class="writeButton"
                  th:each="category : ${categoryList}"
                  th:if="${category.categoryNumber} eq ${categoryNumber}"
                  th:onclick="|location.href='@{/board/new(categorynumber=${category.categoryNumber})}'|" >글쓰기</button>
          <button type="button" class="admin" th:onclick="|location.href='@{/admin}'|">관리자 페이지</button>
        </div>
    <div>

        <br/>
      <h2 th:text="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}"></h2>
      <fieldset>
        <table class="table">
          <thead>
            <tr>
              <th style="text-align: center">번호</th>
              <th style="text-align: center">제목</th>
              <th style="text-align: center">작성자</th>
              <th style="text-align: center">작성일</th>
              <th
                      th:hidden="${boardCategory.commentsYn} eq 'N'"
                      style="text-align: center">댓글수
              </th>

              <th th:hidden="${boardCategory.attachedFileYn} eq 'N'" style="text-align: center">첨부파일수</th>
            </tr>
          </thead>
      <th:block layout:fragment="content">
          <tbody>
          <tr th:if="${not #lists.isEmpty(boardList)}" th:each="board, index : ${boardList}" >
              <td style="text-align: center" th:text="${boardDto.paginationInfo.totalRecordCount} -
              ((${boardDto.paginationInfo.paginationDto.currentPageNo - 1}) *
              ${boardDto.paginationInfo.paginationDto.recordsPerPage} +
              ${boardDto.paginationInfo.firstPage} + ${index.index}-1)"></td>
              <td th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"
                  style="cursor:pointer; width: 250px; ">
                  <span th:style="${board.boardDepth ne 0}
                         ? 'color: red; font-style: italic; padding-left:'+ ${board.boardDepth * 20}+'px'
                         : 'width: 250px'"
                        style="cursor:pointer"
                  >
                      <span th:if="${board.boardDepth ne 0}" th:text="ㄴRe"></span>
                  </span>
                  <span th:text="${board.title}"></span>
              </td>
              <td></td>
              <td th:if="${#temporals.format(board.createTime, 'yyyy-MM-dd').equals(#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                  th:text="${#temporals.format(board.createTime, 'HH:mm')}" style="color: red; text-align: center">

              </td>

              <td style="text-align: center" th:if="${#temporals.format(board.createTime, 'yyyy-MM-dd') < (#dates.format(#dates.createToday(), 'yyyy-MM-dd'))}"
                  th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd')}">
              </td>
              <td th:hidden="${boardCategory.commentsYn} eq 'N'"
                  th:text="${board.commentsCount}"
                  th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"
                  style="cursor:pointer; text-align: center"></td>

              <td th:hidden="${boardCategory.attachedFileYn} eq 'N'"
                  th:text="${board.fileCount}"
                  th:onclick="|location.href='@{/board/view/{id}(id = ${board.id})}'|"
                  style="cursor:pointer; text-align: center "></td>
            </tr>
            <tr th:if="${#lists.isEmpty(boardList)}">
              <td colspan="6">조회된 결과가 없습니다.</td>
            </tr>
          </tbody>
      </th:block>
        </table>
      </fieldset>

      <th:block layout:fragment="paging">
          <nav th:replace="html/commonPaging :: pagination"></nav>
      </th:block>
  </div>
        <th:block layout:fragment="script">
      <script th:inline="javascript">
        function movePage(uri, queryString) {
          location.href = uri + queryString;
        }
      </script>
    </th:block>
</div>
</body>
</html>