<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minboard.mapper.BoardAdminMapper">

    <resultMap id="boardAdminDtoResultMap" type="BoardAdminDto">
        <result property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryNumber" column="category_number"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="attachedFileCount" column="attached_file_count"/>
        <result property="commentsYn" column="comments_yn"/>
        <result property="commentsCount" column="comments_count"/>
        <result property="attachedFileYn" column="attached_file_yn"/>
        <result property="replyYn" column="reply_yn" />
        <result property="boardId" column="board_id"/>
        <result property="delYn" column="del_yn"/>
    </resultMap>

    <insert id="insertBoardAdminSetting"
            parameterType="BoardAdminSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        INSERT INTO board_admin(

                                category_name
                               ,category_number
                               ,contents
                               ,attached_file_count
                               ,attached_file_yn
                               ,reply_yn
                               ,comments_yn
                               ,create_time
                               ,update_time
        )VALUES(
                #{categoryName}
               ,#{categoryNumber}
               ,#{contents}
               ,#{attachedFileCount}
               ,#{attachedFileYn}
               ,#{replyYn}
               ,#{commentsYn}
               ,#{createTime}
               ,#{updateTime}
               )
    </insert>


    <select id="selectBoardAdmin" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap" >
        SELECT
            id,
            category_name,
            category_number,
            contents,
            attached_file_yn,
            attached_file_count,
            comments_yn,
            reply_yn,
            create_time,
            update_time,
            del_yn
        FROM
            board_admin
        WHERE
            id = #{id} AND del_yn = 'N'
    </select>

    <select id="selectBoardCategory" parameterType="int" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap">
        SELECT
                id
                ,category_name
                ,category_number
                ,contents
                ,attached_file_yn
                ,attached_file_count
                ,reply_yn
                ,comments_yn
                ,create_time
                ,update_time
                ,del_yn

        FROM
                board_admin

        <where>
                del_yn = 'N' AND category_number = #{categoryNumber}
                <if test="categoryNumber == null">
                    AND id = #{id}
                </if>

        </where>
    </select>

    <select id="selectBoardCategoryList" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap">
        SELECT
                 id
                 ,category_name
                 ,category_number
                 ,contents
                 ,attached_file_yn
                 ,attached_file_count
                 ,reply_yn
                 ,comments_yn
                 ,create_time
                 ,update_time
                 ,del_yn

        FROM
                 board_admin
        WHERE
                del_yn = 'N' AND category_number > 0
    </select>

    <select id="selectBoardAdminList" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap">
        SELECT
                id,
                (@rownum := @rownum + 1) AS num,
                category_name,
                category_number,
                contents,
                attached_file_yn,
                attached_file_count,
                reply_yn,
                comments_yn,
                create_time,
                update_time,
                del_yn

        FROM
            board_admin,
            (select @rownum := 0) AS num_table

        WHERE
            del_yn = 'N'
        ORDER BY num DESC

    </select>

    <update id="deleteBoardAdmin" parameterType="int">
        UPDATE board AS b
            JOIN board_admin AS ba ON ba.id = b.board_admin_id
        SET
                b.del_yn = 'Y'
        WHERE
            b.del_yn = 'N'
          AND ba.id = #{id}
          AND b.board_admin_id = ba.id
    </update>

    <update id="updateBoardAdminSetting" parameterType="BoardAdminUpdateVo">

        UPDATE  board_admin
        SET
            category_name = #{categoryName}
          ,contents = #{contents}
          ,attached_file_count = #{attachedFileCount}
          ,attached_file_yn = #{attachedFileYn}
          ,reply_yn = #{replyYn}
          ,comments_yn = #{commentsYn}
          ,update_time = #{updateTime}

        WHERE
            del_yn = 'N' AND id = #{id}

    </update>

    <!--총 게시물 수-->
    <select id="totalCountCategoryBoard" resultType="int">
        SELECT count(b.id)
        FROM board_admin AS ba
                 JOIN board AS b ON ba.id = b.board_admin_id
        <where>
              b.del_yn = 'N'

              <if test="categoryNumber != 0">
                AND ba.category_number = #{categoryNumber}
              </if>
        </where>
    </select>

</mapper>