<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minboard.mapper.BoardMapper">

    <resultMap id="boardVoResultMap" type="BoardVo">
        <result property="createTime" column="create_time"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <resultMap id="boardDtoResultMap" type="BoardDto">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delYn" column="del_yn"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
    </resultMap>

    <!--- 게시물 전체보기  -->
    <select id="getBoardPagingList" parameterType="BoardDto" resultType="BoardDto" resultMap ="boardDtoResultMap">
        select id, (@rownum := @rownum + 1) as num, title, create_time, update_time, view_count, like_count, del_yn
        from board b, (select @rownum := 0) as num_table
        where del_yn = 'N'
        order by
                num desc,
                create_time desc
        limit #{paginationInfo.firstRecordIndex}, #{recordsPerPage}
    </select>

    <!--    게시판 상세 상세보기-->
    <select id="getDetailViewBoard" resultType="BoardDto" resultMap="boardDtoResultMap" >
        select id, title, contents, create_time, update_time, view_count, like_count
        from board
        where id = #{id} and del_yn = 'N'
    </select>

    <!--총 게시물 수-->
    <select id="geTotalBoardCount" resultType="int">
        select count(*)
        from board
        where del_yn = 'N'
    </select>

    <!--- 생성하기  -->
    <insert id="createBoard"
            parameterType="BoardVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        insert into board(title, contents, create_time, update_time)
        values (#{title}, #{contents}, #{createTime}, #{updateTime})
    </insert>

    <!--수정하기-->
    <update id="updateBoard" parameterType="BoardDto">
        update board
        set title = #{title},
            contents = #{contents}
        where
              del_yn = 'N'
          and id = #{id}
    </update>

    <!--삭제하기-->
    <update id="deleteBoard" parameterType="int">
        update board
        set del_yn = 'Y',
        where
            del_yn = 'N'
            and id = #{id}

    </update>

</mapper>