<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minboard.mapper.BoardMapper">

    <resultMap id="boardDtoResultMap" type="BoardDto">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="boardGroup" column="board_group"/>
        <result property="boardDepth" column="board_depth"/>
        <result property="boardSort" column="board_sort"/>
        <result property="delYn" column="del_yn"/>
        <result property="boardId" column="board_id"/>
        <result property="boardAdminId" column="board_admin_id"/>
        <result property="commentsCount" column="comments_count"/>
        <result property="commentsYn" column="comments_yn"/>
        <result property="fileCount" column="file_count"/>
        <result property="attachedFileYn" column="attached_file_yn"/>
        <result property="attachedFileCount" column="attached_file_count"/>
        <result property="categoryName" column="category_name" />
        <result property="categoryNumber" column="category_number" />
    </resultMap>

    <resultMap id="boardAdminDtoResultMap" type="BoardAdminDto">
        <result property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryNumber" column="category_number"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="attachedFileCount" column="attached_file_count"/>
        <result property="commentsYn" column="comments_yn"/>
        <result property="commentsCount" column="comments_count"/>
        <result property="attachedFileYn" column="attached_file_yn"/>
        <result property="replyYn" column="reply_yn" />
        <result property="boardId" column="board_id"/>
        <result property="delYn" column="del_yn"/>
    </resultMap>

    <resultMap id="BoardAdminSaveVoResultMap" type="BoardAdminSaveVo">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="attachedFileCount" column="attached_file_count"/>
        <result property="commentsYn" column="comments_yn"/>
        <result property="commentsCount" column="comments_count"/>
        <result property="attachdFileYn" column="attached_file_yn"/>
        <result property="replyYn" column="reply_yn" />
        <result property="boardId" column="board_id"/>
        <result property="delYn" column="del_yn"/>
    </resultMap>

    <resultMap id="boardSaveVoResultMap" type="BoardSaveVo">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delYn" column="del_yn"/>
        <result property="boardGroup" column="board_group"/>
        <result property="boardDepth" column="board_depth"/>
        <result property="boardSort" column="board_sort"/>
        <result property="categoryName" column="category_name" />
        <result property="boardId" column="board_id" />
        <result property="id" column="id"/>
    </resultMap>

    <resultMap id="boardUpdateVoResultMap" type="BoardUpdateVo">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delYn" column="del_yn"/>
        <result property="boardGroup" column="board_group"/>
        <result property="boardDepth" column="board_depth"/>
        <result property="boardSort" column="board_sort"/>
        <result property="categoryName" column="category_name" />
        <result property="categoryNumber" column="category_number" />
        <result property="id" column="id"/>
    </resultMap>

    <resultMap id="getDetailViewBoardAllInfoResultMap" type="BoardDto">
        <result property="id" column="id"/>
        <result property="title" column="title" />
        <result property="contents" column="contents" />
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="delYn" column="del_yn"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <collection property="uploadFileDtoList" ofType="UploadFileDto">
            <result property="storeFileName" column="store_file_name" />
            <result property="originalFileName" column="original_file_name" />
            <result property="extensionName" column="extension_name" />
            <result property="storeFileSize" column="store_file_size" />
        </collection>
    </resultMap>


    <select id="selectBoardList" parameterType="BoardDto" resultType="BoardDto" resultMap ="boardDtoResultMap">
        SELECT
                b.id,
                (@rownum := @rownum + 1) as num,
                ba.category_name,
                ba.category_number,
                b.title,
                b.board_group,
                b.board_sort,
                b.board_depth,
                (select
                     count(board_id)
                 from comments
                 where
                     comments.board_id = b.id
                   and comments.del_yn = 'N') as comments_count,
                (select
                     count(board_id)
                 from upload_file
                 where
                     upload_file.board_id = b.id) as file_count,
                b.create_time,
                b.update_time,
                b.del_yn

        FROM
                board as b
                    join board_admin as ba on b.board_admin_id = ba.id
                    left join comments as c on b.id = c.board_id,
                    (select @rownum := 0) as num_table
        WHERE
                b.del_yn = 'N' and ba.category_number = #{categoryNumber}

        group by b.id
        order by
                board_group desc,
                board_sort asc,
                num desc

        limit #{paginationInfo.firstRecordIndex}, #{recordsPerPage};
    </select>

    <select id="selectBoardAllList" parameterType="BoardDto" resultType="BoardDto" resultMap ="boardDtoResultMap">
        SELECT
            b.id,
            (@rownum := @rownum + 1) as num,
            ba.category_name,
            ba.category_number,
            b.title,
            b.board_group,
            b.board_sort,
            b.board_depth,
            (select
                 count(board_id)
             from comments
             where
                 comments.board_id = b.id
               and comments.del_yn = 'N') as comments_count,
            (select
                 count(board_id)
             from upload_file
             where
                 upload_file.board_id = b.id) as file_count,
            b.create_time,
            b.update_time,
            b.del_yn

        FROM
            board as b
                join board_admin as ba on b.board_admin_id = ba.id
                left join comments as c on b.id = c.board_id,
            (select @rownum := 0) as num_table
        WHERE
            b.del_yn = 'N'

        group by b.id
        order by
            board_group desc,
            board_sort asc,
            num desc

            limit #{paginationInfo.firstRecordIndex}, #{recordsPerPage};
    </select>

    <!--- 관리자 카테고리 전체보기  -->
    <select id="selectBoardAdminList" parameterType="BoardAdminDto" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap">
        select
            id,
            (@rownum := @rownum + 1) as num,
            category_name,
            category_number,
            contents,
            attached_file_yn,
            attached_file_count,
            reply_yn,
            comments_yn,
            create_time,
            update_time,
            del_yn

        from
            board_admin,
            (select @rownum := 0) as num_table

        where
            del_yn = 'N' and category_number > 0
    </select>

    <select id="selectBoardCategoryList" parameterType="BoardDto" resultType="BoardDto" resultMap="boardDtoResultMap">
        select
            id
            ,category_name
            ,category_number
            ,contents
            ,attached_file_yn
            ,attached_file_count
            ,reply_yn
            ,comments_yn
            ,create_time
            ,update_time
            ,del_yn

        from
            board_admin

        where
            del_yn = 'N' and category_number > 0
    </select>

    <select id="selectBoardCategory" parameterType="int" resultType="BoardDto" resultMap="boardDtoResultMap">
        select
            id
             ,category_name
             ,category_number
             ,contents
             ,attached_file_yn
             ,attached_file_count
             ,reply_yn
             ,comments_yn
             ,create_time
             ,update_time
             ,del_yn

        from
            board_admin

        where
            del_yn = 'N'
          and id = #{id};
    </select>

    <select id="selectBoardCategoryNumber" parameterType="int" resultType="BoardDto" resultMap="boardDtoResultMap">
        select
            id
             ,category_name
             ,category_number
             ,contents
             ,attached_file_yn
             ,attached_file_count
             ,reply_yn
             ,comments_yn
             ,create_time
             ,update_time
             ,del_yn

        from
            board_admin

        where
            del_yn = 'N'
          and category_number = #{categoryNumber};
    </select>

    <!--총 게시물 수-->
    <select id="totalCountCategoryBoard" resultType="int">
        select count(b.id)
        from board_admin as ba
            join board as b on ba.id = b.board_admin_id
        where b.del_yn = 'N' and ba.category_number = #{categoryNumber}
    </select>

    <select id="totalCountBoard" resultType="int">
        select count(*)
        from board
        where del_yn = 'N'
    </select>

    <!--    게시판 상세보기-->
    <select id="selectBoard" resultType="BoardDto" resultMap="boardDtoResultMap" >

        select
               b.id,
               ba.category_name,
               ba.category_number,
               b.title,
               b.contents,
               b.board_group,
               b.board_sort,
               b.board_depth,
               ba.attached_file_yn,
               ba.attached_file_count,
               ba.comments_yn,
               reply_yn,
               b.create_time,
               b.update_time,
               b.del_yn
        from
             board as b
                join board_admin as ba on b.board_admin_id = ba.id
        where
              b.id = #{id} and b.del_yn = 'N'
    </select>

    <!-- 관리자 게시판 상세보기-->
    <select id="selectBoardAdmin" resultType="BoardAdminDto" resultMap="boardAdminDtoResultMap" >
        select
            id,
            category_name,
            category_number,
            contents,
            attached_file_yn,
            attached_file_count,
            comments_yn,
            reply_yn,
            create_time,
            update_time,
            del_yn
        from
            board_admin
        where
            id = #{id}
          and del_yn = 'N'
    </select>

    <select id="selectBoardReply" resultType="BoardDto" resultMap="boardDtoResultMap" >
        select
            b.id,
            b.title,
            b.category_name,
            ba.category_number,
            b.board_group,
            b.board_sort,
            b.board_depth,
            b.board_admin_id,
            b.del_yn
        from
            board as b
                join board_admin as ba on b.board_admin_id = ba.id
        where
            b.id = #{id} and b.del_yn = 'N'
    </select>

    <!--게시판 수정 상세보기 -->
    <select id="getDetailViewUpdateBoard" resultType="BoardUpdateVo" resultMap="boardUpdateVoResultMap" >
        select
               id,
               category_name,
               title,
               contents,
               create_time,
               update_time,
               view_count,
               like_count
        from
             board
        where
              id = #{id}
          and del_yn = 'N'
    </select>

    <!--- 생성하기  -->
    <insert id="insertBoard"
            parameterType="BoardSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        INSERT INTO board(
                  title,
                  contents,
                  board_group,
                  board_sort,
                  board_depth,
                  category_name,
                  create_time,
                  update_time,
                  board_admin_id
                )values(
                    #{title},
                    #{contents},
                    #{boardGroup},
                    #{boardSort},
                    #{boardDepth},
                    #{categoryName},
                    #{createTime},
                    #{updateTime},
                    #{boardAdminId}
                )
    </insert>



    <insert id="insertBoardAdminSetting"
            parameterType="BoardAdminSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        INSERT INTO board_admin(

                   category_name
                   ,category_number
                   ,contents
                   ,attached_file_count
                   ,attached_file_yn
                   ,reply_yn
                   ,comments_yn
                   ,create_time
                   ,update_time
        )values(
                   #{categoryName}
                   ,#{categoryNumber}
                   ,#{contents}
                   ,#{attachedFileCount}
                   ,#{attachedFileYn}
                   ,#{replyYn}
                   ,#{commentsYn}
                   ,#{createTime}
                   ,#{updateTime}
               )
    </insert>

    <update id="updateBoardAdminSetting" parameterType="BoardAdminUpdateVo">

        UPDATE  board_admin
        SET
            category_name = #{categoryName}
            ,contents = #{contents}
            ,attached_file_count = #{attachedFileCount}
            ,attached_file_yn = #{attachedFileYn}
            ,reply_yn = #{replyYn}
            ,comments_yn = #{commentsYn}
            ,update_time = #{updateTime}

        WHERE
             del_yn = 'N' and id = #{id}

    </update>


    <!--수정하기-->
    <update id="updateBoard" parameterType="BoardUpdateVo">
        update
            board
        set
            title = #{title},
            contents = #{contents},
            update_time = #{updateTime}
        where
              del_yn = 'N'
          and id = #{id}
    </update>

    <update id="updateBoardGroupSet" parameterType="int">
        UPDATE  board
        SET
                board_group = #{id}
        WHERE
              id = #{id} AND del_yn = 'N'
    </update>

    <!--삭제하기-->
    <update id="deleteBoard" parameterType="int">
        update
            board
        set
            del_yn = 'Y'
        where
            del_yn = 'N'
            and id = #{id}
    </update>

    <select id="countComments" resultType="int">
        SELECT
            count(*) AS commentsCount
        FROM
            board AS b
                JOIN comments AS c ON b.id = c.board_id
        WHERE
            c.del_yn = 'N' AND c.board_id = #{boardId}
    </select>

    <select id="countAttachedFile" resultType="int" >
        SELECT
            count(*) AS attachedFileCount
        FROM
            board AS b
                JOIN upload_file AS u ON b.id = u.board_id
        WHERE
            u.del_yn = 'N' AND u.board_id = #{boardId}
    </select>

    <select id="hierarchicalCalculationFormula" resultType="int" >
        SELECT
                IFNULL(MIN(board_sort),0)
        FROM
                board
        WHERE
              board_group = ${boardGroup}
          AND board_sort > ${boardSort}
          AND board_depth <![CDATA[ <= ]]> ${boardDepth}
          AND del_yn = 'N';
    </select>

    <select id="calculationFormulaResultZero" resultType="int">
        SELECT
            IFNULL(MAX(board_sort),0) + 1
        FROM
            board
        WHERE
            board_group = ${boardGroup} AND del_yn = 'N';
    </select>

    <insert id="insertBoareReply"
            parameterType="BoardSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        INSERT INTO board(
                    category_name,
                    title,
                    contents,
                    board_group,
                    board_sort,
                    board_depth,
                    create_time,
                    update_time,
                    board_admin_id

        )values(
                   #{categoryName},
                   #{title},
                   #{contents},
                   #{boardGroup},
                   #{boardSort},
                   #{boardDepth}+1,
                   #{createTime},
                   #{updateTime},
                   #{boardAdminId}
               )
    </insert>

    <update id="calculationFormulaResultNotZero" parameterType="BoardSaveVo">
        UPDATE
            board
        SET
            board_sort = board_sort + 1
        WHERE

            board_group =  #{boardGroup}
          AND board_sort <![CDATA[ >= ]]>  #{boardSort}
          AND del_yn = 'N';
    </update>

    <update id="decreaseSort" parameterType="BoardDto">
        UPDATE
            board
        SET
            board_sort = board_sort - 1

        WHERE
            board_group = ${boardGroup} AND board_sort > ${boardSort}
    </update>


</mapper>