<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minboard.mapper.CommentsMapper">

    <resultMap id="CommentsDtoResultMap" type="CommentsDto">
        <result property="createTime" column="create_time"/>
        <result property="delYn" column="del_yn"/>
        <result property="boardId" column="board_id"/>
    </resultMap>


    <!--- 생성하기  -->
    <insert id="insertComments"
            parameterType="CommentsSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">
        INSERT INTO
            comments(
                        contents,
                        create_time,
                        board_id
        )VALUES(
                        #{contents},
                        #{createTime},
                        #{boardId}

                   )
    </insert>

    <select id="getBoardCommentsList" resultType="CommentsDto" resultMap="CommentsDtoResultMap" >
        SELECT
               id,
               contents,
               del_yn,
               create_time,
               board_id

        FROM
               comments

        WHERE
               board_id = #{id}
    </select>

    <select id="getBoardCommentsTotalCount" resultType="Integer">
        SELECT count(*)
        FROM comments
        WHERE board_id = #{boardId} AND del_yn = 'N'
    </select>



</mapper>