<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minboard.mapper.MemberMapper">

    <resultMap id="memberVoResultMap" type="MemberSaveVo">
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!--- 회원가입  -->
    <insert id="createMember"
            parameterType="MemberSaveVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        insert into
            member(
                   email,
                   password,
                   name,
                   phone,
                   birthday,
                   gender,
                   create_time,
                   update_time
                   )
        values (
                #{email},
                #{password},
                #{name},
                #{phone},
                #{birthday},
                #{gender},
                #{createTime},
                #{updateTime}
                )

    </insert>


</mapper>