<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minboard.mapper.UploadFileMapper">

    <resultMap id="UploadFileDtoResultMap" type="UploadFileDto">
        <result property="originalFileName" column="original_file_name"/>
        <result property="storeFileName" column="store_file_name"/>
        <result property="extensionName" column="extension_name"/>
        <result property="storeFileSize" column="store_file_size"/>
        <result property="storeFilePath" column="store_file_path"/>
        <result property="createTime" column="create_time"/>
        <result property="boardId" column="board_id"/>
        <result property="delYn" column="del_yn"/>
    </resultMap>

    <!--- 생성하기  -->
    <insert id="insertFileList"
            parameterType="java.util.List"
            useGeneratedKeys ="true">

        insert into
            upload_file(
                        store_file_name,
                        original_file_name,
                        extension_name,
                        store_file_size,
                        store_file_path,
                        board_id,
                        create_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
             #{item.storeFileName},
             #{item.originalFileName},
             #{item.extensionName},
             #{item.storeFileSize},
             #{item.storeFilePath},
             #{item.boardId},
             #{item.createTime}
            )
        </foreach>
    </insert>


    <select id="getUploadFileList" resultType="UploadFileDto" resultMap="UploadFileDtoResultMap">
        SELECT
            id,
            original_file_name,
            store_file_name,
            store_file_path,
            store_file_size,
            board_id,
            del_yn

        FROM
            upload_file

        WHERE
            board_id = #{boardId}
            AND del_yn = 'N'
    </select>

    <select id="findByUploadFile" resultType="UploadFileDto" resultMap="UploadFileDtoResultMap">
        SELECT
                id,
                original_file_name,
                store_file_name,
                extension_name,
                store_file_size,
                store_file_path,
                create_time,
                board_id,
                del_yn

        FROM
            upload_file

        WHERE
            id = #{id}
    </select>

    <select id="getUploadFileUpdateList" resultType="UploadFileDto" resultMap="UploadFileDtoResultMap" >
        select
            id,
            original_file_name,
            store_file_name,
            store_file_path,
            store_file_size,
            board_id,
            del_yn
        from
            board
        where
            id = #{id}
          and del_yn = 'N'
    </select>




</mapper>