<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minboard.mapper.UploadFileMapper">


    <!--- 생성하기  -->
    <insert id="insertFileList"
            parameterType="UploadFileVo"
            useGeneratedKeys ="true"
            keyProperty="id">

        insert into
            upload_file(
                        store_file_name
        )values(
            #{storeFileName}
        )
    </insert>

</mapper>